---
export interface Props {
  text: string
  href?: string
  class?: string
}

const { text, href, class: className } = Astro.props
---

<a
  href={href}
  class=`${className} inline-block px-4 pt-4 pb-3.5 rounded-full text-darkBlue text-base uppercase shadow-sm`
>
  {text}
</a>
