---
// Creates a custom H2 component with an id that can be used for linking

// The current node received from the PortableText component
const { node } = Astro.props

// Extract text and create an id
const headerText = node.children[0].children[0].text
const headerId = headerText.replace(/\s+/g, '-').toLowerCase()
---

<h2 id={headerId}>{headerText}</h2>
