---
import { Icon } from 'astro-icon/components'

export interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<a
  href="/"
  class={`block w-full py-6 ${className}`}
  title="Wave Land Web"
  aria-label="Wave Land Web"
>
  <Icon name="title" />
</a>
