@import 'tailwindcss';

@theme {
  --color-white: #fffafa;
  --color-black: var(--color-gray-950);
  --color-darkBlue: var(--color-gray-900);
  --color-purple: var(--color-purple-500);
  --color-green: var(--color-teal-300);
  --color-orange: var(--color-red-400);
  --color-lightGrey: var(--color-gray-300);
  --color-grey: var(--color-gray-400);
  --color-darkGrey: var(--color-gray-700);

  --font-header: var(--font-poppins);
  --font-body: var(--font-monaspace);

  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1920px;

  --nav-height: clamp(6rem, 20vw, 8rem);

  --transition: 200ms;
}

/* Animations */

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion: no-preference) {
  /**
    * Required class: `lsa` (initializes animations and defaults to fade-in)
    * Note: Add `no-repeat` class to prevent animations from repeating on scroll
    */
  .lsa {
    @apply opacity-0 transform transition duration-700;

    /* Slide animations */
    &.lsa-slide-up {
      @apply translate-y-4;
    }
    &.lsa-slide-down {
      @apply -translate-y-4;
    }
    &.lsa-slide-left {
      @apply -translate-x-4;
    }
    &.lsa-slide-right {
      @apply translate-x-4;
    }
    &.lsa-slide-down-right {
      @apply -translate-x-4 -translate-y-4;
    }
    &.lsa-slide-down-left {
      @apply translate-x-4 -translate-y-4;
    }
    &.lsa-slide-up-right {
      @apply -translate-x-4 translate-y-4;
    }
    &.lsa-slide-up-left {
      @apply translate-x-4 translate-y-4;
    }

    /* Handle active state */
    &.active {
      @apply opacity-100 translate-x-0 translate-y-0;
    }
  }
}

@layer base {
  html {
    /* Scrollbar */
    scrollbar-color: var(--color-white) var(--color-darkBlue);
    scrollbar-width: thin;

    @apply font-body scroll-pt-15 scroll-smooth;
  }

  body {
    @apply text-white bg-darkBlue;
  }

  section {
    @apply py-20 md:py-28;
  }

  nav,
  header,
  main,
  footer {
    @apply container md:max-w-screen-3xl mx-auto px-4 md:px-8;
  }

  nav[data-current-url-path^='/case-studies'] [aria-label='Case Studies'],
  nav[data-current-url-path^='/pricing'] [aria-label='Pricing'],
  nav[data-current-url-path^='/blog'] [aria-label='Blog'],
  nav[data-current-url-path^='/contact'] [aria-label='Contact'] {
    @apply text-purple;
  }

  img,
  svg,
  video {
    @apply block w-full h-auto;
  }

  img {
    @apply rounded-lg drop-shadow-2xl;
  }

  svg:not(svg[data-icon='title']) {
    @apply w-6 stroke-1;
  }

  /* Typography */

  h1,
  h2,
  h3,
  h4,
  h5,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    @apply font-header text-balance;
  }

  h1,
  .h1 {
    @apply text-5xl md:text-6xl leading-tight;
  }

  h2,
  .h2 {
    @apply text-4xl md:text-5xl leading-normal;
  }

  h3,
  .h3 {
    @apply text-3xl md:text-4xl;
  }

  h4,
  .h4 {
    @apply text-2xl md:text-3xl;
  }

  h5,
  .h5 {
    @apply text-xl md:text-2xl;
  }

  p {
    @apply text-pretty text-base md:text-lg;
  }

  a {
    @apply hover:text-purple transition-all duration-(--transition) ease-in-out;
  }

  p,
  a,
  button {
    @apply text-lg md:text-xl;
  }

  button {
    @apply cursor-pointer;
  }

  input,
  textarea {
    @apply text-lightGrey;
  }

  .text-container {
    @apply h-auto flex flex-col gap-6 backdrop-blur-sm bg-white/1 border border-dashed border-darkGrey hover:border-purple rounded-2xl p-6 md:p-8 shadow-md transition duration-(--transition);
  }

  /* Blog + Case Studies */

  #blog-layout h2,
  #case-study h2:not(:first-of-type) {
    @apply mt-[1lh];
  }

  #blog-layout,
  #case-study {
    & h3,
    & h4,
    & h5,
    & h6,
    & img {
      @apply mt-[1lh];
    }

    & h2 {
      @apply text-3xl md:text-4xl;
    }

    & h3 {
      @apply text-2xl md:text-3xl;
    }

    & a {
      @apply text-purple hover:text-grey;
    }

    & p:not(header > p),
    & ul,
    & ol,
    & pre,
    & a {
      @apply text-base md:text-lg;
    }

    & p:not(header > p),
    & ul,
    & ol,
    & pre {
      @apply text-lightGrey;
    }

    & img,
    & pre {
      @apply block my-[1lh];
    }

    & pre {
      @apply p-4 rounded-lg;
    }

    & ul:not(nav ul),
    & ol {
      padding-inline-start: 3rem;
    }

    & ul li:not(nav ul li) {
      @apply list-disc;
    }

    & p code,
    & li code {
      @apply bg-purple text-black rounded-sm p-1 box-decoration-clone;
    }

    & em {
      @apply italic;
    }

    & strong {
      @apply font-black text-white;
    }
  }
}
