---
import { Icon } from 'astro-icon/components'

export interface Props {
  title: string
  description?: string
  linkText: string
  linkSrc: string
}

const { title, description, linkText, linkSrc } = Astro.props
---

<div class="grid gap-2 md:gap-4 md:grid-cols-2 mb-40 pt-8 md:py-16 aos-fade">
  <h2 class="h2">{title}</h2>
  <div>
    <a
      href={linkSrc}
      class="flex justify-between items-center mb-2 md:mb-4 font-body h2 site-link-2"
      target="_blank"
      rel="noopener noreferrer"
      >{linkText}
      <Icon name="tabler:arrow-narrow-right" class="w-12" /></a
    >
    <p class="site-text">{description}</p>
  </div>
</div>
