---
import { Icon } from 'astro-icon/components'
import ThemeToggle from '../ThemeToggle.astro'
---

<ul id="desktop-nav" class="hidden md:flex md:items-center md:gap-8">
  <div class="flex items-center gap-8">
    <li>
      <a href="/#about" class="site-link" aria-label="About">ABOUT</a>
    </li>
    <li>
      <a href="/#contact" class="site-link" aria-label="Contact">CONTACT</a>
    </li>
  </div>

  <li>•</li>

  <div class="inline-flex items-center gap-8">
    <li class="inline-flex">
      <ThemeToggle />
    </li>
    <li>
      <a
        href="https://www.instagram.com/wavelandweb/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram"
      >
        <Icon name="tabler:brand-instagram" class="site-icon" /></a
      >
    </li>
  </div>
</ul>
