---
import { Icon } from 'astro-icon/components'
import ThemeToggle from '../widgets/ThemeToggle.astro'
---

<div id="desktop-nav" class="hidden md:flex md:items-center md:gap-8">
  <ul class="flex items-center gap-8">
    <li>
      <a
        href="/#about"
        class="site-link no-underline uppercase"
        aria-label="About"
        data-astro-prefetch>About</a
      >
    </li>
    <li>
      <a
        href="/#contact"
        class="site-link no-underline uppercase"
        aria-label="Contact"
        data-astro-prefetch>Contact</a
      >
    </li>
    <li>
      <a href="/blog" class="site-link no-underline uppercase" aria-label="Blog" data-astro-prefetch
        >Blog</a
      >
    </li>
  </ul>

  <span>•</span>

  <ul class="inline-flex items-center gap-8">
    <li class="inline-flex">
      <ThemeToggle />
    </li>
    <li>
      <a
        href="https://www.instagram.com/wavelandweb/"
        target="_blank"
        rel="noopener noreferrer"
        class="site-link"
        aria-label="Instagram"
      >
        <Icon name="tabler:brand-instagram" class="site-icon" /></a
      >
    </li>
  </ul>
</div>
