---
import { Icon } from 'astro-icon/components'
import Desktop from './Desktop.astro'
import Mobile from './Mobile.astro'
---

<nav
  class="fixed left-0 right-0 w-full max-w-screen-2xl min-h-[var(--nav-height)] z-20 mx-auto px-4 flex items-center justify-between gap-4 bg-white dark:bg-darkBlue"
>
  <a
    href="/"
    class="relative z-30 stroke-darkBlue dark:stroke-white hover:stroke-purple transition-colors"
    title="Wave Land Web"
    aria-label="Wave Land Web"
  >
    <Icon name="logo" class="w-16 h-16 md:w-20 md:h-20 stroke-[1.25rem]" />
  </a>

  <Mobile />
  <Desktop />
</nav>
