---
import { Icon } from 'astro-icon/components'
import Desktop from './Desktop.astro'
import Mobile from './Mobile.astro'
---

<nav
  class="fixed left-4 right-4 z-50 max-w-screen-2xl h-[var(--nav-height)] mx-auto flex items-center justify-between gap-4"
>
  <a
    href="/"
    class="relative z-20 stroke-darkBlue dark:stroke-white hover:stroke-purple transition"
    title="Wave Land Web"
    aria-label="Wave Land Web"
  >
    <Icon name="logo" class="w-16 h-16 md:w-20 md:h-20 stroke-[1.25rem]" />
  </a>

  <Mobile />
  <Desktop />
</nav>
