---
import type { SanityDocument } from '@sanity/client'
import { sanityClient } from 'sanity:client'
import PostsContainer from '../components/ui/PostsContainer.astro'
import Subscribe from '../components/ui/Subscribe.astro'
import TagContainer from '../components/ui/TagContainer.astro'
import Layout from '../layouts/Layout.astro'

// Fetch all posts
const posts = (await sanityClient.fetch(
  `*[_type == "post"] | order(publishedAt desc) {
    title,
    slug,
    publishedAt,
    description,
    "estimatedReadingTime": round(length(pt::text(body)) / 5 / 180)
  }`
)) as SanityDocument[]

// Fetch all tags
const tags = (await sanityClient.fetch(`*[_type == "tag"]`)) as SanityDocument[]
---

<Layout
  title="Wave Land Web | Blog"
  description="Musings on technology and building for the web. Subscribe to know what we've been up to, along with tips and tricks to help you in your creative journey."
>
  <header
    class="max-w-screen-3xl grid lg:grid-cols-2 gap-16 lg:gap-40 items-center pt-[calc(4rem+var(--nav-height))] pb-20 md:pb-28 border-b-[1px] border-dashed border-grey"
  >
    <div class="max-w-lg lg:max-w-none flex flex-col gap-4 lsa lsa-slide-left no-repeat">
      <h1 class="text-purple text-base lg:text-lg">Blog</h1>
      <p class="font-header h1">Creativity, technology, and building for the web</p>
      <Subscribe formId="blog-subscribe" />
    </div>
    <p class="max-w-lg lsa lsa-slide-right delay-200 no-repeat">
      Join our community to receive updates, resources, and ideas to support your creative journey.
    </p>
  </header>

  <main class="max-w-screen-3xl">
    <section id="blog-container" class="grid lg:grid-cols-2 gap-12 lg:gap-40 mb-8">
      <PostsContainer posts={posts} title="Recent Posts" />
      <TagContainer tags={tags} />
    </section>
  </main>
</Layout>
