---
import type { SanityDocument } from '@sanity/client'
import { sanityClient } from 'sanity:client'
import CaseStudyCard from '../components/ui/CaseStudyCard.astro'
import PageHeader from '../components/ui/PageHeader.astro'
import Subscribe from '../components/ui/Subscribe.astro'
import Layout from '../layouts/Layout.astro'

// Fetch all case studies
const caseStudies = (await sanityClient.fetch(
  `*[_type == "case-study"] | order(publishedAt desc) {
    title,
    slug,
    mainImage,
    publishedAt,
    description,
    services,
  }`
)) as SanityDocument[]
---

<Layout
  title="Wave Land Web | Case Studies"
  description="Wave Land Web offers custom web design and development services for creatives. Explore our recent work and see how we've helped our clients succeed."
>
  <PageHeader
    title="Case Studies"
    subtitle="Our Recent Work"
    bodyText="Subscribe to our newsletter to receive updates on our latest case studies and projects."
  >
    <Subscribe formId="case-studies-subscribe" />
  </PageHeader>

  <main>
    <section id="case-studies" class="grid lg:grid-cols-2 gap-12 lg:gap-24 pt-4">
      {caseStudies.map((caseStudy) => <CaseStudyCard caseStudy={caseStudy} />)}
    </section>
  </main>
</Layout>
