---
import type { SanityDocument } from '@sanity/client'
import { sanityClient } from 'sanity:client'
import CaseStudyCard from '../components/ui/CaseStudyCard.astro'
import Layout from '../layouts/Layout.astro'

// Fetch all case studies
const caseStudies = (await sanityClient.fetch(
  `*[_type == "case-study"] | order(publishedAt desc) {
    title,
    slug,
    mainImage,
    publishedAt,
    description,
    services,
  }`
)) as SanityDocument[]
---

<Layout
  title="Wave Land Web | Case Studies"
  description="Musings on technology and building for the web. Subscribe to know what we've been up to, along with tips and tricks to help you in your creative journey."
>
  <header
    class="max-w-screen-3xl pt-[calc(3rem+var(--nav-height))] pb-16 md:pb-24 border-b-[1px] border-dashed border-grey"
  >
    <h1
      class="text-6xl leading-tight md:text-7xl lg:text-8xl lg:leading-tight lsa lsa-slide-left no-repeat"
    >
      Case Studies
    </h1>
  </header>

  <main class="max-w-screen-3xl">
    <section id="case-studies" class="grid lg:grid-cols-2 gap-12 lg:gap-40 mb-8">
      <h2 class="sr-only">Recent Work</h2>
      {caseStudies.map((caseStudy) => <CaseStudyCard caseStudy={caseStudy} />)}
    </section>
  </main>
</Layout>
