---
import { Icon } from 'astro-icon/components'
import CTA from '../components/text/CTA'
import PageHeader from '../components/ui/PageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Wave Land Web | Contact"
  description="Get in touch with Wave Land Web to discuss your web development needs. We're here to help bring your vision to life."
>
  <PageHeader
    title="Contact"
    subtitle="Ready to Connect?"
    bodyText="We'd love to hear about your vision. Share your ideas below and let's explore how we can build something meaningful together."
  />

  <main>
    <section class="pt-0 text-center lsa lsa-slide-up delay-300">
      <form
        method="POST"
        name="contactForm"
        action="/success/"
        class="max-w-2xl m-auto flex flex-col gap-4"
        data-netlify="true"
      >
        <div class="w-full flex flex-col md:flex-row gap-4 justify-between">
          <div class="w-full">
            <label for="first-name" class="sr-only">First Name</label>
            <input
              type="text"
              name="first-name"
              id="first-name"
              autocomplete="given-name"
              placeholder="First Name"
              required
              class="block w-full backdrop-blur-sm bg-white/1 border border-dashed border-darkGrey hover:border-purple rounded-lg px-4 py-3 shadow-md transition duration-(--transition) focus:outline-none focus:border-purple"
            />
          </div>

          <div class="w-full">
            <label for="last-name" class="sr-only">Last Name</label>
            <input
              type="text"
              name="last-name"
              id="last-name"
              autocomplete="family-name"
              placeholder="Last Name (Optional)"
              class="block w-full backdrop-blur-sm bg-white/1 border border-dashed border-darkGrey hover:border-purple rounded-lg px-4 py-3 shadow-md transition duration-(--transition) focus:outline-none focus:border-purple"
            />
          </div>
        </div>
        <div>
          <label for="email" class="sr-only">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            autocomplete="email"
            placeholder="Email"
            required
            class="block w-full backdrop-blur-sm bg-white/1 border border-dashed border-darkGrey hover:border-purple rounded-lg px-4 py-3 shadow-md transition duration-(--transition) focus:outline-none focus:border-purple"
          />
        </div>

        <div>
          <label for="message" class="sr-only">Describe Your Project</label>
          <textarea
            name="message"
            id="message"
            rows="4"
            placeholder="Describe your project"
            required
            class="block w-full backdrop-blur-sm bg-white/1 border border-dashed border-darkGrey hover:border-purple rounded-lg px-4 py-3 shadow-md transition duration-(--transition) focus:outline-none focus:border-purple"
          ></textarea>
        </div>

        <CTA
          tag="button"
          type="submit"
          text="Send Message"
          aria-label="Send Message"
          title="Send Message"
          class="w-fit mx-auto"
        />
      </form>
    </section>

    <section class="lsa lsa-slide-up delay-300">
      <div class="max-w-2xl m-auto text-center">
        <h2 class="mb-4">More Ways to Reach Us</h2>

        <div class="flex flex-col gap-6 items-center">
          <!-- Calendly Link -->
          <a
            href="https://calendly.com/wavelandweb/15-min-meeting"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex gap-2 items-center text-grey hover:text-purple"
            ><Icon name="tabler:calendar" />Free Strategy Session
          </a>
          <!-- Email Link -->
          <a
            href="mailto:hello@wavelandweb.com?subject=Website Inquiry from wavelandweb.com"
            aria-label="Email"
            title="Email"
            class="inline-flex gap-2 items-center text-grey hover:text-purple"
            ><Icon name="tabler:mail" />hello@wavelandweb.com
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
