---
import { Icon } from 'astro-icon/components'
import bornYesterdayBakeryImage from '../assets/born-yesterday-bakery.png'
import moonbellyMakesImage from '../assets/moonbelly-makes.png'
import supervoidImage from '../assets/supervoid.png'
import CTA from '../components/content/CTA.astro'
import Pill from '../components/content/Pill.astro'
import TextAndImage from '../components/content/TextAndImage.astro'
import TitleLogo from '../components/content/TitleLogo.astro'
import Layout from '../layouts/Layout.astro'
---
<!-- test -->
<Layout title="Wave Land Web | Creative Web Design & Development">
  <header class="h-screen pt-[var(--nav-height)]">
    <div class="relative h-full">
      <TitleLogo class="mb-8" />

      <div id="services" class="flex flex-wrap gap-4">
        <Pill text="Custom Web Development" textColor="text-white dark:text-darkBlue" />
        <Pill text="User-focused Web Design" backgroundColor="bg-orange" />
        <Pill text="Digital Strategy" backgroundColor="bg-green" />
      </div>

      <div id="hook" class="absolute bottom-6 md:bottom-8 max-w-[575px] site-text">
        <p class="mb-6">
          Helping creatives build meaningful connections with high-performance, modern websites
        </p>
        <a
          href="https://calendly.com/wavelandweb/15-min-meeting?month=2024-05"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex gap-2 items-center site-link-2"
          >Free Intro Call <Icon name="tabler:arrow-narrow-right" class="site-icon" /></a
        >
      </div>
    </div>
  </header>

  <main>
    <section id="about">
      <TextAndImage
        title="Carve a unique path."
        text="Your website should embody your creativity and enable more freedom to focus on the work you love."
        link="https://supervoid.tv"
        image={supervoidImage}
        imageAlt="Supervoid website on a mobile device"
        variant={1}
        class="py-32"
      />
      <TextAndImage
        title="Feed your imagination."
        text="Spend more time on what matters most and less on energetically draining technical tasks."
        link="https://bornyesterdaybakery.com"
        image={bornYesterdayBakeryImage}
        imageAlt="Born Yesterday Bakery website on a mobile device"
        variant={2}
        isReversed={true}
        class="py-32"
      />
      <TextAndImage
        title="Amplify your voice."
        text="Bespoke web experiences that enhance your brand, prioritize user experience, and inspire action."
        link="https://moonbellymakes.com"
        image={moonbellyMakesImage}
        imageAlt="Moonbelly Makes website on a mobile device"
        variant={3}
        class="py-32"
      />
    </section>

    <section id="contact">
      <CTA
        title="Get Started"
        description="Ready for the next step? Let's chat."
        linkText="Free Intro Call"
        linkSrc="https://calendly.com/wavelandweb/15-min-meeting?month=2024-05"
      />
    </section>
  </main>
</Layout>
