---
import { Icon } from 'astro-icon/components'
import bornYesterdayBakeryImage from '../assets/born-yesterday-bakery.png'
import moonbellyMakesImage from '../assets/moonbelly-makes.png'
import supervoidImage from '../assets/supervoid.png'
import CTA from '../components/text/CTA.astro'
import Pill from '../components/text/Pill.astro'
import TextAndImage from '../components/text/TextAndImage.astro'
import TitleLogo from '../components/text/TitleLogo.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Wave Land Web | Creative Web Design & Development"
  description="Helping creatives build meaningful connections with high-performance, modern websites"
>
  <header
    class="custom-height-mq:h-full h-[calc(100vh-3rem)] max-h-[1200px] pt-[var(--nav-height)] flex flex-col justify-between gap-12"
  >
    <div>
      <TitleLogo class="mb-6 lsa lsa-slide-left no-repeat" />
      <div id="services" class="flex flex-wrap gap-4">
        <Pill
          text="Custom Web Development"
          textColor="text-darkBlue"
          class="lsa delay-100 no-repeat"
        />
        <Pill
          text="User-focused Web Design"
          backgroundColor="bg-orange"
          textColor="text-darkBlue"
          class="lsa delay-200 no-repeat"
        />
        <Pill
          text="Digital Strategy"
          backgroundColor="bg-green"
          textColor="text-darkBlue"
          class="lsa delay-300 no-repeat"
        />
      </div>
    </div>
    <div class="max-w-[575px] site-text">
      <p class="mb-6 lsa delay-500 no-repeat">
        Helping creatives build meaningful connections with high-performance, modern websites
      </p>
      <a
        href="https://calendly.com/wavelandweb/15-min-meeting?month=2024-05"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex gap-2 items-center site-link-2 lsa delay-700 no-repeat"
        >Free Intro Call <Icon name="tabler:arrow-narrow-right" class="site-icon" /></a
      >
    </div>
  </header>

  <main>
    <section id="about">
      <TextAndImage
        title="Carve a unique path."
        text="Your website should embody your creativity and enable more freedom to focus on the work you love."
        link="https://supervoid.tv"
        image={supervoidImage}
        imageAlt="Supervoid website on a mobile device"
        variant={1}
        class="py-16 md:py-32 xl:pb-48"
      />
      <TextAndImage
        title="Feed your imagination."
        text="Spend more time on what matters most and less on energetically draining technical tasks."
        link="https://bornyesterdaybakery.com"
        image={bornYesterdayBakeryImage}
        imageAlt="Born Yesterday Bakery website on a mobile device"
        variant={2}
        isReversed={true}
        class="py-16 md:py-32 xl:pb-48"
      />
      <TextAndImage
        title="Amplify your voice."
        text="Bespoke web experiences that enhance your brand, prioritize user experience, and inspire action."
        link="https://www.moonbellymakes.com/"
        image={moonbellyMakesImage}
        imageAlt="Moonbelly Makes website on a mobile device"
        variant={3}
        class="py-16 md:py-32 xl:pb-48"
      />
    </section>

    <section id="contact" class="pb-0">
      <CTA
        title="Get Started"
        description="Ready for the next step? Schedule a complimentary strategy session to discuss your project."
        linkText="Free Intro Call"
        linkSrc="https://calendly.com/wavelandweb/15-min-meeting?month=2024-05"
      />
    </section>
  </main>
</Layout>
