---
import PageHeader from '../components/ui/PageHeader.astro'
import Layout from '../layouts/Layout.astro'
import PricingCard from '../components/ui/PricingCard.astro'

const websiteDetails = [
  {
    summary: 'High Performance',
    description:
      'Expect fast load times and seamless performance across all devices, ensuring your visitors have a smooth and satisfying experience.',
  },
  {
    summary: 'Custom Design & Branding',
    description:
      'We create one-of-a-kind designs that capture the essence of your brand, making sure your website stands out in a crowded digital landscape.',
  },
  {
    summary: 'Ongoing Partnership',
    description:
      "Our relationship doesn't end once your site is live. We offer continuous digital strategy, mentorship, and partnership to help your business grow and adapt.",
  },
  {
    summary: 'SEO Optimizations',
    description:
      'Benefit from on-site and technical SEO optimizations that make your website easier to find and rank higher in search engines.',
  },
  {
    summary: 'Sustainable & Accessible',
    description:
      'We design with sustainability in mind, focusing on accessibility and user experience to ensure your site is inclusive and user-friendly.',
  },
  {
    summary: 'User-Centric Approach',
    description:
      'We prioritize empathy for your users, leading to increased trust, stronger connections, and higher conversion rates.',
  },
]
---

<Layout
  title="Wave Land Web | Pricing"
  description="Wave Land Web offers custom web design and development services for creative entrepreneurs and small businesses. Choose the plan that suits you best."
>
  <PageHeader
    title="Pricing"
    subtitle="Choose Your Plan"
    bodyText="Your vision, our expertise. Pick the plan that suits you best."
  />

  <main>
    <section id="pricing-options" class="pt-4">
      <!-- Payment toggle -->
      <label for="toggle" class="flex items-center justify-center mb-8 gap-4 cursor-pointer">
        <span id="monthly" class="text-white transition duration-300">Monthly</span>
        <div class="relative">
          <input id="toggle" type="checkbox" class="sr-only" />
          <div class="block bg-purple w-14 h-8 rounded-full"></div>
          <div
            id="dot"
            class="absolute top-1 left-1 w-6 h-6 bg-white rounded-full transition duration-300"
          >
          </div>
        </div>
        <span id="yearly" class="text-grey transition duration-300">Yearly</span>
      </label>

      <div class="w-full grid md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- 1 -->
        <PricingCard
          title="Foundation"
          monthlyPrice="$300"
          yearlyPrice="$255"
          features={[
            {
              title: 'Build a Solid Foundation',
              description: 'Custom design & development for up to 5 pages.',
            },
            {
              title: 'Worry-Free Maintenance',
              description: '3 hours of monthly maintenance to keep everything running smoothly.',
            },
            {
              title: 'Strategic Guidance',
              description: 'One monthly strategy call.',
            },
            {
              title: 'Insightful Analytics',
              description: 'First-party analytics.',
            },
            {
              title: 'Need More Time?',
              description: 'Additional hours billed at our standard hourly rate.',
            },
          ]}
          buttonText="Get Started"
        />

        <!-- 2 -->
        <PricingCard
          title="Pro"
          monthlyPrice="$500"
          yearlyPrice="$425"
          features={[
            {
              title: 'Grow Your Business',
              description: 'Custom design & development for up to 10 pages.',
            },
            {
              title: 'Enhanced Maintenance',
              description: '5 hours of monthly maintenance for those who want a little extra care.',
            },
            {
              title: 'Weekly Check-Ins',
              description: 'One weekly strategy call.',
            },
            {
              title: 'Insightful Analytics',
              description: 'First-party analytics.',
            },
            {
              title: 'Need More Time?',
              description: 'Additional hours billed at our standard hourly rate.',
            },
          ]}
          buttonText="Get Started"
          class="border-purple"
        />

        <!-- 3 -->
        <PricingCard
          title="Enterprise"
          price="Custom Pricing"
          dynamicPrice={false}
          features={[
            {
              title: 'Scalable Solutions',
              description: 'Custom design & development for large-scale projects.',
            },
            {
              title: 'Dedicated Support',
              description: '24/7 priority care and customer support.',
            },
            {
              title: 'Advanced Integrations',
              description:
                'Seamlessly integrate advanced APIs, content management systems, and e-commerce solutions.',
            },
            {
              title: 'Custom Strategy & Analytics',
              description:
                'Ongoing brainstorming and analytics to develop a strategy that drives results.',
            },
            {
              title: 'Flexible Add-Ons',
              description: 'Optional add-ons for specialized services.',
            },
          ]}
          buttonText="Get Started"
        />
      </div>
    </section>

    <section id="faq" class="pb-0">
      <div class="grid gap-8 md:gap-16 md:grid-cols-2 mb-40 py-16 lsa no-repeat">
        <h2><span class="text-green">Every Website</span> Includes:</h2>

        <div>
          {
            websiteDetails.map((detail) => (
              <details class="mb-4 group">
                <summary class="text-xl flex justify-between gap-4 group-open:text-purple group-hover:text-purple transition duration-300 cursor-pointer">
                  {detail.summary}
                </summary>
                <p class="text-grey py-4">{detail.description}</p>
              </details>
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  summary::after {
    content: '＋';
  }

  details[open] summary::after {
    content: '－';
  }

  details > summary::-webkit-details-marker {
    display: none;
  }
</style>

<script>
  const toggle = document.getElementById('toggle') as HTMLInputElement
  const dot = document.getElementById('dot')
  const monthly = document.getElementById('monthly')
  const yearly = document.getElementById('yearly')
  const monthlyPricing = document.querySelectorAll('#monthly-pricing')
  const yearlyPricing = document.querySelectorAll('#yearly-pricing')
  const details = document.querySelectorAll('details')

  function handlePricingToggle() {
    if (toggle.checked) {
      // Move the dot to the right
      dot?.classList.add('translate-x-6')

      // Change monthly to grey
      monthly?.classList.remove('text-white')
      monthly?.classList.add('text-grey')

      // Change yearly to white
      yearly?.classList.remove('text-grey')
      yearly?.classList.add('text-white')

      // Show yearly pricing
      monthlyPricing.forEach((price) => price.classList.add('hidden'))
      yearlyPricing.forEach((price) => price.classList.remove('hidden'))
    } else {
      // Move the dot to the left
      dot?.classList.remove('translate-x-6')

      // Change monthly to white
      monthly?.classList.add('text-white')
      monthly?.classList.remove('text-grey')

      // Change yearly to grey
      yearly?.classList.add('text-grey')
      yearly?.classList.remove('text-white')

      // Show monthly pricing
      monthlyPricing.forEach((price) => price.classList.remove('hidden'))
      yearlyPricing.forEach((price) => price.classList.add('hidden'))
    }
  }

  toggle.addEventListener('change', handlePricingToggle)
  details.forEach((targetDetail) => {
    // Close all details that are not targetDetail
    targetDetail.addEventListener('click', () => {
      details.forEach((detail) => {
        if (detail !== targetDetail) {
          detail.removeAttribute('open')
        }
      })
    })
  })
</script>
