---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Wave Land Web | Unsubscribed" description="asdf">
  <header
    class="max-w-2xl flex flex-col gap-4 justify-center pt-[calc(4rem+var(--nav-height))] mb-24 text-center lsa no-repeat"
  >
    <h1 class="text-darkPurple dark:text-purple text-base md:text-lg leading-none">Unsubscribed</h1>
    <p class="font-body text-5xl md:text-6xl leading-tight">You have successfully unsubscribed</p>
    <p class="max-w-lg m-auto site-text">You will no longer receive emails from us.</p>
    <a href="/" class="site-button">Return to the home page</a>
  </header>
</Layout>
