---
import SocialIcons from '../SocialIcons.astro'
---

<div id="desktop-nav" class="hidden md:flex md:items-center md:gap-8">
  <ul class="flex flex-wrap justify-end items-center gap-8">
    <li>
      <a href="/#about-us" class="text-base uppercase" aria-label="About Us">About Us</a>
    </li>
    <li>
      <a href="/case-studies" class="text-base uppercase" aria-label="Case Studies">Case Studies</a>
    </li>
    <li>
      <a href="/contact" class="text-base uppercase" aria-label="Contact">Contact</a>
    </li>
  </ul>

  <span>•</span>

  <SocialIcons color="text-white" />
</div>
