---
import { Icon } from 'astro-icon/components'
---

<div id="desktop-nav" class="hidden md:flex md:items-center md:gap-8">
  <ul class="flex items-center gap-8">
    <li>
      <a href="/#services" class="site-link no-underline uppercase" aria-label="Services"
        >Services</a
      >
    </li>
    <li>
      <a href="/pricing" class="site-link no-underline uppercase" aria-label="Pricing">Pricing</a>
    </li>
    <li>
      <a href="/blog" class="site-link no-underline uppercase" aria-label="Blog">Blog</a>
    </li>
    <li>
      <a href="/contact" class="site-link no-underline uppercase" aria-label="Contact">Contact</a>
    </li>
  </ul>

  <span>•</span>

  <ul class="inline-flex items-center gap-8">
    <li>
      <a href="/rss.xml" class="site-link" aria-label="RSS" title="RSS Feed">
        <Icon name="tabler:rss" class="site-icon" /></a
      >
    </li>
    <li>
      <a
        href="https://www.instagram.com/wavelandweb/"
        target="_blank"
        rel="noopener noreferrer"
        class="site-link"
        aria-label="Instagram"
        title="Instagram"
      >
        <Icon name="tabler:brand-instagram" class="site-icon" /></a
      >
    </li>
  </ul>
</div>
