---
import { Icon } from 'astro-icon/components'
import TitleLogo from './content/TitleLogo.astro'
import Subscribe from './widgets/Subscribe.astro'
---

<footer class="w-full py-4 border-t-[1px] border-grey aol-fade">
  <div id="wrapper" class="grid lg:grid-cols-2 gap-8 max-w-screen-2xl m-auto mb-8 px-4">
    <div id="newsletter">
      <h2 class="h2 mb-4 pt-5">Newsletter</h2>
      <Subscribe />
    </div>
    <div id="info">
      <TitleLogo class="max-w-96 lg:ml-auto" />
      <p class="max-w-[530px] mb-4 lg:ml-auto lg:text-end italic">
        Wave Land is a creative web design studio run by lifelong musician and artist, Josh
        Nussbaum. Currently building in Madison, WI.
      </p>
    </div>
  </div>
  <div class="flex flex-col md:flex-row justify-between gap-2 max-w-screen-2xl m-auto px-4">
    <a href="mailto:hello@wavelandweb.com" class="inline-flex gap-2 items-center text-grey"
      ><Icon name="tabler:mail" class="site-icon" />hello@wavelandweb.com
    </a>
    <p class="text-grey lg:text-end">wavelandweb.com © {new Date().getFullYear()}</p>
  </div>
</footer>
