---
import { Icon } from 'astro-icon/components'
---

<a
  href="/"
  class="relative block z-20 w-full mb-8 py-6"
  title="Wave Land Web"
  aria-label="Wave Land Web"
>
  <Icon name="title" class="site-link" />
</a>
