---
import { createSlug, removeSpecialCharactersFromSlug } from '../../lib/text'

export interface Props {
  tags: string[]
}

const { tags } = Astro.props
---

<div class="lg:sticky lg:top-[var(--nav-height)] lg:self-start lsa no-repeat">
  <h2 class="mb-[clamp(2rem,5vw,3rem)]">Tags</h2>
  <div class="max-w-xl flex flex-wrap gap-4">
    {
      tags.map((tag) => (
        <a
          href={`/blog/tags/${createSlug(tag)}`}
          class="inline-block px-2 py-1 bg-green text-darkBlue lowercase rounded-full lg:hover:scale-[1.01] lg:hover:shadow-md"
        >
          #{removeSpecialCharactersFromSlug(tag)}
        </a>
      ))
    }
  </div>
</div>
