---
import { Icon } from 'astro-icon/components'
import Layout from './Layout.astro'

const { frontmatter } = Astro.props
---

<Layout
  title={`Wave Land Web | ${frontmatter.title}`}
  description={frontmatter.description}
  socialImage={frontmatter.socialImage}
>
  <main id="blog-layout" class="max-w-4xl flex flex-col gap-[1lh] mb-16 md:mb-24">
    <slot />
    <a
      class="site-button inline-flex items-center justify-center gap-2 w-fit my-4 site-text"
      href="/blog"><Icon name="tabler:arrow-narrow-left" class="site-icon" />Back to blog</a
    >
  </main>
</Layout>
