---
import Layout from './Layout.astro'

const { frontmatter } = Astro.props
---

<Layout
  title={`Wave Land Web | ${frontmatter.title}`}
  description={frontmatter.description}
  socialImage={frontmatter.socialImage}
>
  <main id="blog-layout" class="max-w-4xl flex flex-col gap-4 mb-16 md:mb-24">
    <slot />
    <a class="site-button inline-block w-fit my-4" href="/blog">← Back to blog</a>
  </main>
</Layout>

<style is:global>
  #blog-layout {
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & img {
      @apply mt-8;
    }

    & h2 {
      @apply text-3xl md:text-4xl;
    }

    & h3 {
      @apply text-2xl md:text-3xl;
    }

    & a:not(.site-button) {
      @apply site-link-2;
    }

    & img,
    & pre {
      @apply block my-8;
    }

    & img {
      @apply block rounded-lg;
    }

    & pre {
      @apply p-4 rounded-lg;
    }

    & ul,
    & ol {
      padding-inline-start: 3rem;
    }

    & ul li {
      @apply list-disc;
    }

    & ol li {
      @apply list-decimal;
    }

    & p code {
      @apply bg-purple text-white dark:text-darkBlue rounded-sm p-1 box-decoration-clone;
    }

    & em {
      @apply italic;
    }

    & strong {
      @apply font-bold;
    }
  }
</style>
