---
import type { SanityDocument } from '@sanity/client'
import { createEllipsisText } from '../../lib/text'
import SanityImage from './SanityImage.astro'

export interface Props {
  caseStudy: SanityDocument
}

const { caseStudy } = Astro.props
---

<article class="lsa lsa-slide-up group">
  <a
    href={`/case-studies/${caseStudy.slug.current}`}
    class="w-full h-full hover:text-white flex flex-col gap-4"
  >
    <SanityImage
      image={caseStudy.mainImage}
      alt={caseStudy.mainImage.alt}
      class="mb-4 aspect-video brightness-90 group-hover:brightness-100 group-hover:scale-102 group-focus-visible:scale-102 transition-all duration-(--transition) ease-linear"
    />

    <h3>{caseStudy.title}</h3>
    <p class="text-base text-grey">{createEllipsisText(caseStudy.description, 100)}</p>
    <p
      class="flex gap-2 items-center text-purple hover:text-grey group-hover:text-grey group-focus-visible:text-grey transition-all duration-(--transition) ease-in-out group"
    >
      Read More
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        data-icon="tabler:arrow-narrow-right"
        class="group-hover:translate-x-1 transition-transform duration-(--transition) ease-in-out"
      >
        <use href="#ai:tabler:arrow-narrow-right"></use>
      </svg>
    </p>
  </a>
</article>
