---
import TitleLogo from '../text/TitleLogo.astro'
import SocialIcons from './SocialIcons.astro'
import Subscribe from './Subscribe.astro'
---

<footer class="pt-4 pb-8 border-t-[1px] border-dashed border-grey">
  <div id="wrapper" class="grid lg:grid-cols-2 gap-8 m-auto mb-8">
    <div id="newsletter">
      <h2 class="mb-4 pt-5">Newsletter</h2>
      <Subscribe formId="footer-subscribe" />
    </div>
    <div id="info">
      <TitleLogo class="max-w-96 lg:ml-auto" />
      <p class="max-w-2xl mb-4 lg:ml-auto lg:text-end text-base text-lightGrey">
        <em>
          Wave Land is a creative digital studio founded by Josh Nussbaum, a lifelong musician and
          artist passionate about helping creatives live their best lives. Based in Madison, WI.
        </em>
      </p>
    </div>
  </div>
  <div class="flex flex-col md:flex-row justify-between gap-4 m-auto">
    <SocialIcons color="text-grey" />
    <p class="text-grey lg:text-end text-base">wavelandweb.com © {new Date().getFullYear()}</p>
  </div>
</footer>
