---
import { Icon } from 'astro-icon/components'
import TitleLogo from '../text/TitleLogo.astro'
import Subscribe from './Subscribe.astro'
---

<footer class="w-full max-w-screen-4xl m-auto pt-4 pb-8 border-t-[1px] border-dashed border-grey">
  <div id="wrapper" class="grid lg:grid-cols-2 gap-8 max-w-screen-4xl m-auto mb-8 px-4 md:px-8">
    <div id="newsletter">
      <h2 class="mb-4 pt-5">Newsletter</h2>
      <Subscribe formId="footer-subscribe" />
    </div>
    <div id="info">
      <TitleLogo class="max-w-96 lg:ml-auto" />
      <p class="max-w-[530px] mb-4 lg:ml-auto lg:text-end text-base text-lightGrey">
        <em>
          Wave Land is a creative web design studio run by lifelong musician and artist, Josh
          Nussbaum. Currently building in Madison, WI.
        </em>
      </p>
    </div>
  </div>
  <div class="flex flex-col md:flex-row justify-between gap-4 max-w-screen-4xl m-auto px-4 md:px-8">
    <ul class="inline-flex items-center gap-6">
      <li>
        <a
          href="mailto:hello@wavelandweb.com?subject=Website Inquiry from wavelandweb.com"
          aria-label="Email"
          title="Email"
          class="items-center text-grey hover:text-purple"
        >
          <Icon name="tabler:mail" class="site-icon" /></a
        >
      </li>
      <li>
        <a
          href="https://www.instagram.com/wavelandweb/"
          target="_blank"
          rel="noopener noreferrer"
          class="items-center text-grey hover:text-purple"
          aria-label="Instagram"
          title="Instagram"
        >
          <Icon name="tabler:brand-instagram" class="site-icon" /></a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/company/wave-land-web/"
          target="_blank"
          rel="noopener noreferrer"
          class="items-center text-grey hover:text-purple"
          aria-label="LinkedIn"
          title="LinkedIn"
        >
          <Icon name="tabler:brand-linkedin" class="site-icon" /></a
        >
      </li>
    </ul>
    <p class="text-grey lg:text-end text-base">wavelandweb.com © {new Date().getFullYear()}</p>
  </div>
</footer>
