---
import type { SanityDocument } from '@sanity/client'
import BlogCard from './BlogCard.astro'

export interface Props {
  posts: SanityDocument[]
  title?: string
}

const { posts, title } = Astro.props
---

<div class="flex flex-col gap-12">
  {title && <h2 class="lsa">{title}</h2>}
  {posts.map((post) => <BlogCard post={post} />)}
</div>
