---
export interface Props {
  formId: string
}

const { formId } = Astro.props
---

<form id={formId} method="POST" class="max-w-96">
  <div class="flex gap-2 mb-2">
    <label for="email" class="sr-only">Email Address</label>
    <input
      id="email"
      class="block w-full border rounded-md border-grey p-2 text-darkBlue dark:text-white bg-transparent placeholder:text-grey focus:outline-none focus:ring-2 focus:ring-darkPurple focus:dark:ring-purple shadow-sm site-transition-normal"
      name="email"
      type="email"
      autocomplete="email"
      placeholder="Email Address"
      required
    />
    <button class="site-button md:hover:text-white md:dark:hover:text-darkBlue">Subscribe</button>
  </div>
  <span id="response" class="hidden text-xs">
    <!-- Form submission response handled via JS -->
  </span>
</form>

<script is:inline define:vars={{ formId }}>
  const form = document.querySelector(`#${formId}`)
  const responseMessage = form?.querySelector('#response')

  /**
   * Handle UI messages based on submission state
   * @param {String} state - 'loading', 'error', 'success'
   * @param {String} message - Message to display
   */
  function handleMessageUI(state, message) {
    const errorClasses = ['text-darkOrange', 'dark:text-orange']
    const successClasses = ['text-darkGreen', 'dark:text-green']

    // Reset styles
    responseMessage.classList.remove('hidden')
    responseMessage.classList.remove(...errorClasses)
    responseMessage.classList.remove(...successClasses)

    // Set message text based on API response
    responseMessage.textContent = message

    // Set message color based on state
    if (state === 'error') {
      responseMessage.classList.add(...errorClasses)
    } else if (state === 'success') {
      responseMessage.classList.add(...successClasses)
    }
  }

  /**
   * Handle email subscription form submission
   * @param e Form submission event
   */
  async function submit(e) {
    e.preventDefault()

    // Show loading message
    handleMessageUI('loading', 'Subscribing...')

    // Get form data and send to API
    const formData = new FormData(e.target)
    const response = await fetch('/api/subscribe.json/', {
      method: 'POST',
      body: formData,
    })
    const data = await response.json()

    // Error
    if (data.error) {
      handleMessageUI('error', data.error)
    }

    // Success
    if (data.message) {
      handleMessageUI('success', data.message)
    }

    form?.reset()
  }

  // Submit event listener
  form?.addEventListener('submit', submit)
</script>
