---
import type { SanityDocument } from '@sanity/client'
import Tag from '../text/Tag.astro'

export interface Props {
  tags: SanityDocument[]
}

const { tags } = Astro.props
---

<div class="lg:sticky lg:top-[var(--nav-height)] lg:self-start lsa">
  <h2 class="mb-[clamp(2rem,5vw,3rem)]">Tags</h2>
  <div class="max-w-xl flex flex-wrap gap-4">
    {tags.map((tag) => <Tag tag={tag} />)}
  </div>
</div>
