---
export interface Props {
  data: {
    quote: string
    href: string
    citation: string
  }[]
}

const { data } = Astro.props
---

<div class="swiper">
  <div class="swiper-wrapper mb-8 site-text">
    {
      data.map((testimonial) => {
        return (
          <blockquote class="swiper-slide flex flex-col gap-4">
            <p>{testimonial.quote}</p>
            <cite>
              <a
                class="site-link-2"
                href={testimonial.href}
                target="_blank"
                rel="noopener noreferrer"
              >
                - {testimonial.citation}
              </a>
            </cite>
          </blockquote>
        )
      })
    }
  </div>
  <div class="swiper-pagination"></div>
</div>

<style is:inline>
  :root {
    --swiper-theme-color: var(--color-purple);
    --swiper-pagination-bullet-inactive-color: var(--color-grey);
    --swiper-pagination-bullet-size: 0.75rem;
    --swiper-pagination-bullet-horizontal-gap: 0.5rem;
  }

  .swiper-pagination {
    position: static;
  }
</style>

<script>
  import Swiper from 'swiper'
  import 'swiper/css'
  import 'swiper/css/pagination'
  import { Autoplay, Pagination } from 'swiper/modules'

  const swiper = new Swiper('.swiper', {
    modules: [Pagination, Autoplay],
    grabCursor: true,
    loop: true,
    autoplay: {
      delay: 12000,
      pauseOnMouseEnter: true,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  })
</script>
